*{
    margin: 0px;
    font-family: 'Hahmlet', serif;
    font-size: 20px;
}
/*Contenedor Grid para crear nuestro layout*/
.Contenedor{
    display: grid;
    grid-gap: 20px;
    /*Grid template columns nos dice el numero de columnas a crear y su tamaño*/
    grid-template-columns: repeat(6, 1fr);
    /*Grid template rows nos dice el numero de filas a crear y su tamaño*/
    grid-template-rows: repeat(3, auto);
    /*Grid template areas Creamos la forma de nuestro layout*/
    grid-template-areas:
    "Header Header Header Header Header Header"
    "Aside Contenido Contenido Contenido Contenido Contenido"
    "Footer Footer Footer Footer Footer Footer" ;
}
.Contenedor .Header,
.Contenedor .Contenido,
.Contenedor .Menu2,
.Contenedor .Footer{
    padding: 10px;
    border-radius: 3px;
}


/*Contenedor del Menu principal*/
.Header{
    display: flex;
    background-color: #12203e;
    min-height: 40px;
    /*Con Grid area asignamos el espacio que va a ocupar nuestro contenedor en el layout*/
    grid-area: Header;
    color: #fff;
    /* text-align: center; */
    font-size: 25px;
    justify-content:space-between;
}
.Header > a{
    text-decoration: none;
}
.Header > a:link{
    color: #fff;
}
.Header >a:visited{
    color: #fff;
}
.Header > a:hover{
    color: #ADADAD;
}

/*Contenedor del aside*/
.Menu2{
    display: flex;
    flex-direction: column;
    max-height: 490px;
    position:static;
    background-color: orange;
    /*Ahora asignamos el espacio de nuestro aside en el layout*/
    grid-area: Aside;
    font-size: 25px;
    justify-content:space-between;
    align-items:center;
}
.Menu2 > a{
    text-decoration: none;
}
.Menu2 > a:link{
    color: #000;
}
.Menu2 >a:visited{
    color: #000;
}
.Menu2 > a:hover{
    color: #ADADAD;
}


.Contenido{
    background-color: #12203e;
    grid-area: Contenido;
    height: 485px;
    overflow-y: auto;
}
.Footer{
    background-color: #12203e;
    grid-area: Footer;
    min-height: 25px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

/*Contenedor base para los ejercicios*/
.Contenedores{
    background-color: #ADADAD;
    margin: 45px 25px;
    min-height: 200px;
    padding: 10px 10px;
    text-align: center;
}
#pandora{
    min-height: 120px;
    margin: 15px 10px; 
    border: 3px solid #12203e;
    background-color: #fff;
    text-align: center;
    align-items: center;
}

#horcruxes{
    max-height: 100px;
    margin: 45px auto;
    padding: 10px 10px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #12203e;
    overflow-y: auto;
}
#horcruxes1{
    margin: 20px 40px;
    padding: 10px 10px;
    text-align: center;
    background-color: #fff;
    border: 2px solid #12203e;
}
#Lista1{
    background-color: #fff;
    margin: 20px 25px;
    padding: 10px 10px;
    text-align: center;
    border: 2px solid #12203e;
}
#Lista2{
    background-color: #fff;
    margin: 20px 25px;
    padding: 10px 10px;
    text-align: center;
    border: 2px solid #12203e;
    overflow-y: auto;
    max-height: 235px;
}
/*Botones */
/*Boton 1*/
.boton{
    background-color: #28E4F0;
    height: 50px;
    width: 100px;
    padding: 5px 5px;
    border-radius: 15px;
}

.boton:hover{
    background-color: #00D4F5;
}


#Git:hover{
    background-color: #ADADAD;
    border-radius: 50%;
}

/*Estilos de Harry P*/
.gryffindor{
    background-color: orange;
    border: 2px solid red;
}

.ravenclaw{
    border: 2px solid blue;
}
.hufflepuff{
    background-color: yellow;
    border: 2px solid black;
}

.slytherin{
    background-color: gray;
    border: 2px solid greenyellow;
}

#w3c{
    height: 30px ;
    width: 60px;
}